


<body class="skin-light">
<!-- Main Navigation -->
<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light navbar-transparent fixed-top scrolling-navbar">
      <div class="container-fluid">
  
        <!-- Brand -->
        <a class="navbar-brand" href="https://mdbecommerce.com/">
          <i class="fab fa-mdb fa-3x" alt="mdb logo"></i>
        </a>
  
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Links -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
  
          <!-- Right -->
  
        </div>
        <!-- Links -->
      </div>
    </nav>
    <!-- Navbar -->
  
    <!-- <div class="jumbotron jumbotron-image color-grey-light"
      style="background-image: url('https://mdbootstrap.com/img/Photos/Others/clothes(3)-crop.jpg') ;filter: brightness(70%); height: 250px;">
      <div class="mask rgba-black-strong d-flex align-items-center h-100">
        <div class="container text-center white-text py-5">
          <h1 class="mb-3" style="color: white; filter:contrast(80%);" >FLYBUY</h1>
          <p class="mb-0" style="color: whitesmoke;">TagLine Loading.....</p>
        </div>
      </div>
    </div>
   -->
   <!--Section: Block Content-->
<section>

    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-interval="5000" data-ride="carousel">
      <!--Indicators-->
       <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol> 
      <!--/Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="assets/images/Fur2.jpg"
              alt="First slide" style="height: 450px; ">
            <a href="#!">
              <div class="mask rgba-black-light"></div>
            </a>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">FURNITURES</h3>
            <!-- <p>First text</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="assets/images/MobileCarsouel2.jpg"
              alt="Second slide" style="height: 450px;">
            <a href="#!">
              <div class="mask rgba-black-light"></div>
            </a>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">MOBILES & ACCESSORIES</h3>
            <!-- <p>Secondary text</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="assets/images/Dress1.jpg"
              alt="Third slide" style="height: 450px;">
            <a href="#!">
              <div class="mask rgba-black-light"></div>
            </a>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">FASHION</h3>
            <!-- <p>Third text</p> -->
          </div>
        </div>
      </div>
      <!--/Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/Controls-->
    </div>
    <!--/Carousel Wrapper-->
  
  </section>
  <!--Section: Block Content-->
  </header>

  
  </body>
  <!-- Main Navigation -->