<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="assets/css/login.css"> -->
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <!-- <img src="assets/images/login.jpg" alt="login" class="login-card-img"> -->
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="login-card-img" style="background-color:rgba(172, 168, 168, 0.43);">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <!-- <img src="assets/images/logo.svg" alt="logo" class="logo"> -->
              </div>
              <p class="login-card-description">Create an account</p>
              <form #registerForm="ngForm" (ngSubmit)="register()">
                <div class="form-group">
                    <label for="name" class="sr-only">Name</label>
                    <ng-container *ngIf="username.invalid && (username.dirty || username.touched)">
                      <span *ngIf="username.errors.required" class="form-validation" style="color: red;">*Name is required</span>
                    </ng-container>
                    <input type="text" #username="ngModel" name="name" id="name" class="form-control" placeholder="Enter Your Name" required [(ngModel)]=user.userName>
                  </div>
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <ng-container *ngIf="useremail.invalid && (useremail.dirty || useremail.touched)">
                      <span *ngIf="useremail.errors.pattern" class="form-validation" style="color: red;">*Enter a valid email</span>
                    </ng-container>
                    <input type="email" #useremail="ngModel" name="email" id="email" class="form-control" placeholder="Email address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]=user.userEmail>
                  </div>
                  <div class="form-group">
                    <label for="mobile" class="sr-only">Mobile</label>
                    <ng-container *ngIf="usermobile.invalid && (usermobile.dirty || usermobile.touched)">
                      <span *ngIf="usermobile.errors.required" class="form-validation" style="color: red;">*Mobile no. is required</span>
                    </ng-container>
                    <input type="number" #usermobile="ngModel" name="mobile" id="mobile" class="form-control" placeholder="Mobile Number" required [(ngModel)]=user.userMobile>
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <ng-container *ngIf="userpassword.invalid && (userpassword.dirty || userpassword.touched)">
                      <span *ngIf="userpassword.errors.pattern" class="form-validation" style="color: red;">*Enter a valid password</span>
                    </ng-container>
                    <input type="password" #userpassword="ngModel" name="password" id="password" class="form-control" placeholder="***********" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]=user.userPassword>
                  </div>
                  <button name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" [disabled]="!registerForm.form.valid">Register</button>
              </form>
              <p class="login-card-footer-text">Already Registered?<a href="/login" class="text-reset">Login here</a></p>
              <nav class="login-card-footer-nav">
                <a href="#!">Terms of use.</a>
                <a href="#!">Privacy policy</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
