<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlineShopping</title>
</head>
<body>
  <div class="topnav">
    <div class="row">
      <div class="col"> 
        <app-nav></app-nav>
    </div>
  </div>
  </div>
  <div class="header">
    <div class="row">
      <div class="col"> 
        <app-header></app-header>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"> 
        <app-shopping-cart></app-shopping-cart>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
    </div>
</body>
</html>




  
